.App {
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container {
  background: #f1f7fe;
  padding: 2em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 0 0 2em #e6e9f9;
  gap: 2em;
  height: 455px;
  width: 300px;
}

.login__container .email {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
}

.login__container .password {
  background: white;
  box-shadow: 0 0 2em #e6e9f9;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color: #4d4d4d;
}

.login__container img {
  height: 120px;
}

.login__btn {
  padding: 1em;
  background: #3e4684;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
}

.login__btn__sec {
  padding: 1em;
  background: white;
  color: gray;
  border: none;
  border-radius: 30px;
  font-weight: 600;
}

.login__btn__sec:hover {
  background-color: #f4f4f4;
}

.login__btn:hover {
  background-color: #30365f;
}

#home {
  width: 100%;
  height: 100%;
}

#header img {
  height: 70px;
  width: auto;
}

.bg-white {
  background-color: white;
}

.bg-pearl {
  background-color: #f4f4f4;
}

#capture__form {
  border-bottom: 1px solid #b3c2d7;
}

#capture__form input, 
#capture__form select {
  height: 45px;
  width: 195px;
  padding-left: 1rem;
  margin-right: 1.5rem;
  border: none;
}

select option:first-child {
    color: #ccc;
}